<div *ngIf="!examData">
  <div *ngIf="!backendError">
    <p>Please wait, loading exam...</p>
  </div>
  <div *ngIf="backendError">
    <p>Some error occurred...</p>
  </div>
</div>

<div class="exam-container" *ngIf="examStarted">
  <mat-card-header class="exam-details">
    <mat-card-title>{{ examData.name }}</mat-card-title>
    <mat-card-content>
      <p>
        <strong>Total Marks:</strong> {{ examData.totalMarks }} <strong>Duration:</strong>
        {{ examData.duration }} mins <strong>Time Left:</strong> {{ getFormattedTime() }}
      </p>
    </mat-card-content>
  </mat-card-header>

  <ng-container *ngIf="!timeUp; else timeUpTemplate">
    <mat-card *ngIf="currentQuestion">
      <mat-card-title
        ><strong>Question:</strong> {{ currentQuestion.questionName }}
        <mat-card-subtitle
          ><p><strong>Marks:</strong> {{ currentQuestion.marks }}</p></mat-card-subtitle
        >
      </mat-card-title>
      <mat-card-content>
        <h4>Select the correct options:</h4>
        <div *ngFor="let option of currentQuestion.ParsedOptions">
          <mat-checkbox
            [checked]="isOptionSelected(currentQuestion.qid, option.id)"
            (change)="onOptionToggled(currentQuestion.qid, option.id, $event.checked)"
          >
            {{ option.value }}
          </mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>

    <button mat-raised-button color="accent" (click)="markAndNext()">Mark & Next</button>
  </ng-container>

  <ng-template #timeUpTemplate>
    <mat-card class="alert alert-warning">
      Time is up! Your responses are being submitted.
    </mat-card>
  </ng-template>
</div>
