@if (analyticsData) {

<div class="analyticsBody">
  <div>
    <h2>Examiner Analytics</h2>
  </div>

  <div class="analytics-data">
    <h3>Total Exams Created: {{ analyticsData.totalExamsCreated }}</h3>
    <h3>Average Scores Per Exam</h3>
    <ul>
      <li *ngFor="let exam of analyticsData.averageScoresPerExam">
        {{ exam.examTitle }}: {{ exam.averageScore | number : '1.2-2' }}
      </li>
    </ul>
    <h3>Question Approval Status</h3>
    <ul>
      <li *ngFor="let status of analyticsData.questionApprovalStats">
        {{ status.isApproved ? 'Approved' : 'Pending/Rejected' }}: {{ status.count }}
      </li>
    </ul>
  </div>
</div>
}@else {
<p class="analyticsBody">Loading Analytics....</p>
}
