.update-container {
  background-color: #121212;
  color:aquamarine;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.update-card {
  background-color: #1E1E1E;
  width: 100%;
  max-width: 700px;
  padding: 1.5rem;
}

.full-width {
  width: 100%;
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.field {
  margin-top: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1.5rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}