<div class="review-container">
  <h2 class="review-header">Review Your Answers</h2>

  @if (selectedAnswers.length > 0) {
    <div class="answers-list">
      @for (answer of selectedAnswers; track answer.Resp) {
        <mat-card class="answer-card">
          <mat-card-content class="answer-content">
            <p class="question-id">
              <strong>Question ID:</strong> {{ answer.qid }}
            </p>
             <p class="question-id">
              <strong>Question Name:</strong> {{ answer.name }}
            </p>
            <p class="selected-option">
              <strong>Selected Option ID:</strong> {{ answer.Resp }}
            </p>
          </mat-card-content>
        </mat-card>
      }
    </div>
  } @else {
    <div class="empty-state">
      <p>You have not answered any questions yet.</p>
    </div>
  }

  <div class="submit-button-container">
    <button mat-raised-button color="primary" (click)="submitExam()">
      Submit Exam
    </button>
  </div>
</div>