.review-container {

  text-align: center;

  margin-top: 30px;

}

.question-card {

  background: #f9f9f9;

  padding: 20px;

  margin: 20px auto;

  border-radius: 8px;

  width: 80%;

}

ul {

  list-style: none;

  padding: 0;

}

.nav-buttons {

  margin: 20px 0;

}

.final-actions {

  margin-top: 20px;

}

.no-questions {

  text-align: center;

  color: gray;

  margin-top: 30px;

}
 